@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.navbar {
  background-color: #040404;
  padding: 1rem;  
  color: white;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center,
}

.navbar-logo {
  font-size:1.5rem;
  font-weight: bold;
}

.logo-text{
  display:flex;
  font-size:3.5rem;
  font-weight:bold;
  color: white;
  justify:center;
  align:center; 
}

.navbar-links a {
  margin: 0 1rem;
  color: white;
  text-decoration: none;
  display:flex;
  justify-content: center;
  align-items:center;
}

.navbar-links a:hover{
  font-weight:bold;
}

.text-box {
  font-family:Arial;
  display:flex;
  align-content: center;
}

.footer {
  background-color: #ebecee;
  padding: 1rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  color: black;
}

/* Main and secondary images */
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* image adjust size acccordingly*/
}

/* Model images */

.image-model {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: transform 0.3s ease, opacity 0.3s ease;
  position: relative;
  overflow: hidden;
}

.image-model:hover{
  /* transform: scale(1.2); */
  opacity: 0.8;
}

.image-model .overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.75);
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
  flex-direction: column;
}

.image-model:hover .overlay {
  opacity: 1; 
}

.model-text {
  color:white;
  padding: 0.5rem;
  transform: transform 0.3s ease;
  font-size: 2rem;
}

.model-text:hover{
  transform: scale(1.2);
}