@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* Bugs out on devices with dark theme */
/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.navbar {
  background-color: #040404;
  padding: 1rem;  
  color: white;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center,
}

.navbar-logo {
  font-size:1.5rem;
  font-weight: bold;
}

.logo-text{
  display:flex;
  font-size:3.5rem;
  font-weight:bold;
  color: white;
  justify:center;
  align:center; 
}

.navbar-links a {
  margin: 0 1rem;
  color: white;
  text-decoration: none;
  display:flex;
  justify-content: center;
  align-items:center;
}

.navbar-links a:hover{
  font-weight:bold;
}

.text-box {
  font-family:Arial;
  display:flex;
  align-content: center;
}

.footer {
  background-color: #ebecee;
  padding: 1rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  /* color: black; */
}

/* Main and secondary images */
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* image adjust size acccordingly*/
}

/* Model images */

.image-model {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: transform 0.3s ease, opacity 0.3s ease;
  position: relative;
  overflow: hidden;
}

.image-model:hover{
  /* transform: scale(1.2); */
  opacity: 0.8;
}

.image-model .overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.75);
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
  flex-direction: column;
}

.image-model:hover .overlay {
  opacity: 1; 
}

.model-text {
  color:white;
  padding: 0.5rem;
  transform: transform 0.3s ease;
  font-size: 2rem;
}

.model-text:hover{
  transform: scale(1.2);
}

/* Page headers on subpages */
.page-header{
  display:flex;
  flex-direction: row;
  align-items: center;
  height: 4rem;
  width: 100%;
  margin-bottom: 2rem;
  /* background-color: #4a81de; */
  background-color:white;
}

.header-text{
  color: black;
  margin-left: 4%;
  font-size: 2rem;
  font-weight:bold;
}
.section-header-text{
  color: black;
  font-size: 2rem;
  font-weight:bold;
}
.header-home{
  display:flex;
  color: black;
  position: absolute;
  right: 10%;
}

.header-home:hover{
  text-decoration: underline;
}

/* About Us */
.profiles{
  padding: 0.5rem;
  margin-top: 1rem;
  margin: 0.5rem;
  margin-bottom: 4rem;
}

.profile-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-image{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  width:30%;
  height:70%;
}

.profile-image img{
  padding:0.5rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-name{
  font-weight:bold;
  padding-left:0.5rem;
  padding-right:0.5rem;
}

.profile-sns{
  font-size: 0.75rem;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  width: 70%;
}

.profile-description{
  display: flex;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
  width: 100%;
  text: 4rem;
}

.profile-description h2 {
  font-size: 0.75rem;
}

.profile-about{
  font-size: 0.85rem;
}

@media (min-width: 2000px) {
  .profile-about{
    font-size: 1rem;
  }
  .profile-description h2 {
    font-size: 0.95rem;
  }
  .profile-sns{
    font-size: 1rem;
  }
}

/* Coding Page (JupyterNotebook Cells) */
.notebook-name {
  height: 100%;
  line-height: 1em;
  margin-left: 16px;
  border: none;
  font-size: 126.5%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  border-radius: 2px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.notebook-container {
  font-family: 'Source Code Pro', monospace;
  background-color: #f7f7f7;
  padding: 2rem;
}

/* Style for individual cells */
.cell {
  background-color: white;
  border: 1px solid #e1e4e8;
  margin-bottom: 1rem;
  padding: 1rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.code-cell {
  background-color: #f9f9f9;
  border: 1px solid #c5c8c6;
  padding-left: 1rem;
  padding-right: 1rem;
  overflow-x: auto;
  margin-left: 8rem;
  margin-bottom: 1rem;
}

.code-content {
  font-family: 'Source Code Pro', monospace;
  font-size: 0.75rem;
  line-height: 1.5;
  overflow: visible;
  white-space: pre-wrap;
  word-wrap: break-word;
}


.output-cell {
  background-color: #f9f9f9;
  font-size:0.5rem;
  padding: 1rem;
  margin-top: 1rem;
  margin-left: 8rem;
  margin-bottom: 1rem;
}

/* Markdown cell */
.markdown-cell {
  font-family: 'Georgia', serif;
  font-size: 1rem;
  line-height: 1.6;
  margin-left: 8rem;
  margin-bottom: 1rem;
}

.code-overlay {
  position: relative;
  display: inline-block;
}

.code-overlay .overlay{
  position: absolute;
  bottom: 70%;
  left: 100%;
  max-height: 800px; 
  overflow-y: auto; 
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  z-index: 10;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.code-overlay:hover .overlay{
  opacity: 1; 
  pointer-events: auto;
}

@media (max-width: 1600px) {
  .code-content {
    font-size: 0.5rem;
  }
  .output-cell {
    font-size: 0.4rem;
  }
  .code-overlay .overlay{
    font-size: 0.5rem;
  }
}

/* Machine Learning Model */
.model-container {
  display: flex;
  flex-direction: column;
  justify: center;
  align-items: center;
  background-color: white;
  padding: 0.5rem;
  width: 40%;
}

/* Projects, Papers, Codes Thumbnails */
.card {
  /* background-color: rgba(255, 255, 255, 0.1); */
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  height: 260px;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.card>.card-content {
  background-color: var(--card-color);
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  inset: 1px;
  padding: 10px;
  position: absolute;
  z-index: 2;
}

.card-image {
  align-items: center;
  display: flex;
  height: 140px;
  justify-content: center;
  overflow: hidden;
}

.card-image>i {
  font-size: 5rem;
  opacity: 0.25;
}

.card-info-wrapper {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  padding: 0px 20px;
}

.card-info {
  align-items: flex-start;
  display: flex;
  gap: 10px;
}

.card-info>i {
  font-size: 0.9rem;
  height: 20px;
  line-height: 20px;
}

.card-info-title>h3 {
  width: 100%;
  text-align: center;
  font-size: 1.0rem;
  line-height: 20px;
  font-weight: bold;
}

.card-info-title>h4 {
  color: var(--card-title);
  font-size: 0.75rem;
  margin-top: 8px;
}

/* Contact Form */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.contact-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* background-color: #f9f9f9; */
  padding: 20px;
}

.contact-form {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
}

.form-label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.form-input,
.form-textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.form-textarea {
  height: 150px;
}

.form-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.form-button:disabled {
  background-color: #aaa;
}

.form-error {
  color: #e74c3c;
  margin-bottom: 16px;
}

